<div class="hero">

    <div class="hero__container">

        <h2 class="hero__subtitle"><span class="hero__span">03</span> space launch 101</h2>
        
        <div class="hero__container__group">
            <div class="hero__concept">
                <div class="hero__concept__buttons">
                    <div class="hero__buttons hero__buttons--1">1</div>
                    <div class="hero__buttons">2</div>
                    <div class="hero__buttons">3</div>
                </div>

                <div class="hero__concept__texts">
                    <h3 class="hero__concept__subtitle">the terminology...</h3>
                    <h1 class="hero__concept__title">Launch Vehicle</h1>
                    <p class="hero__concept__paragrahp">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
                </div>
            </div>
            <div class="hero__img">
                <img src="../../assets/technology/image-launch-vehicle-portrait.jpg" alt="">
            </div>
        </div>
    </div>
</div>
