<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap"
       rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="pagina3.component.css">
    <title>Space Tourism</title>
</head>

<body>       
<main>
    <div class="grid-cell">
        <h5 class="heading-5">
           <span>02</span> MEET YOUR CREW
        </h5>
        <div>
           <h4 class="heading-4">FLIGH ENGINNER</h4>
           <h3 class="heading-3">ANOUSHEH ANSARI</h3>
           <p class="body-text">
            Anousheh Ansari Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. 
            Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, 
            and the first Iranian in space.
           </p>
        </div>
     </div>
<img src="./assets/crew/image-anousheh-ansari.png" id="crew-img">
</main>
</body>