
.navegacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin-bottom: 3rem;
	position: relative;
}

.rayita {
	z-index: 1;
	flex: 1;
	margin: 0 -50px 0 20px;
	height: 1px;
	background-color: gray;
}
.menus {
    list-style: none;
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	height: 110px;
	gap: 1rem;
	padding: 0rem 1rem;
	background-color: rgba(56, 56, 56, 0.363);
}

.menus a {
    text-decoration: none;
	color: rgba(224, 222, 222, 0.986);
	padding: 27px;
	display: block;
    font-size: 17px;
	margin-bottom: 1px;
	text-align:center;
	margin-top: 18px;
}
.menus a:hover{
    border-bottom: 3px solid white;
}

/* #colorb{
    color: white;
} */



@media(max-width:1039px){

	.navegacion{
		justify-content: flex-start;
	}

	.menus{
		display:block;
	}

	.navegacion .logotipo{
		margin-left: 1rem;
	}

	#barra{
		position:fixed;
		width: 23%;
		height: 50vh;
		background-color: rgba(58, 57, 57, 0.288);
		top: 10vh;
		left:0;
		text-align: left;
		transition: all .5s;
		display:flex;
		flex-direction: column;
		align-content: stretch;
	}

	.menus a{
		padding: 0.5rem 0;
		display:flex;
		flex-direction: column;
		padding-left: 0.1rem;
	}
}
