    <div class="w-100">
        <div class="navegacion bg-dark">
            <div id="logo" class="bg-info0 logotipo">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48">
                    <g fill="none" fill-rule="evenodd">
                        <circle cx="24" cy="24" r="24" fill="#FFF" />
                        <path fill="#0B0D17"
                            d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z" />
                    </g>
                </svg>
            </div>
    
            <div id="linea" class="rayita"></div>
    
            <div id="barra" class="menus bg-success0">
                <a href="#"><b id="colorb">00 </b> HOME</a>
                <a href="#"><b id="colorb">01 </b> DESTINATION</a>
                <a href="#"><b id="colorb">02 </b> CREW</a>
                <a href="#"><b id="colorb">03 </b> TECHNOLOGY</a>
            </div>
    
        </div> <!-- navegacion-->
    </div>
    
