
.navegacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.rayita {
	flex: 1;
	margin: 0 -50px 0 20px;
	height: 1px;
	background-color: white;
}
.menus {
    list-style: none;
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	height: 110px;
	gap: 1rem;
	padding: 0rem 1rem;
	background-color: rgba(56, 56, 56, 0.363);
}

.menus a {
    text-decoration: none;
	color: rgba(224, 222, 222, 0.986);
	padding: 27px;
	display: block;
    font-size: 17px;
	margin-bottom: 1px;
	text-align:center;
	margin-top: 18px;
}
.menus a:hover{
    border-bottom: 3px solid white;
}

/* #colorb{
    color: white;
} */

