/* You can add global styles to this file, and also import other style files */
body {
    color: white;
    font-family: sans-serif;
}

:root {
    --fuente1: 'Barlow Condensed', sans-serif;
    --fuente2: 'Bellefair', serif;
    --grisclaro:#d7d6d6;
    --grisoscuro: #535863;
}

*{
    margin: 0;
}

